.header{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: column;
}

.pixel{
    width: 20px;
    height: 20px;
    background-color: beige;
    border: 1px solid black;
}
.userInput{
    display: flex;
    align-items:stretch;
    margin: 10px 0 10px;
}
.customSizeInput{
    /* border-radius: 5px; */
    border-color: black;
    text-decoration: none;
   
    width: 180px;
}
button{
    border: none;
    background-color: black;
    color: white;
    height: auto;
}

.customSizeInput :focusc{
    outline: none;
    border-color: black;
    text-decoration: none;
}
